/* Hace que todos los elementos que se encuentren dentro de las etiquetas 
   <html></html> hereden la propiedad box-sizing: border-box; 
   asignada en el elemento padre (<html></html>) */

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Variables */

:root {
  --mainfont: "Roboto", sans-serif;
  --secondaryfont: "Lato", sans-serif;
  --primarycolor: #1073ba;
  --secondarycolor: #8f5500;
  --gray: #3b3b3b;
  --white: #ffff;
  --black: #1f1e1e;
  --lightgray: #e1e1e1;
}

/* Estilos Globales */

body {
  font-family: var(--mainfont);
  font-size: 1.6rem;
  line-height: 1.5;
}

.container {
  max-width: 120rem;
  width: 90%; /* cuando el ancho sea menos de 1200px va a ocupar el 90% */
  margin: 0 auto; /* centra el contenedor */
}

h1,
h2,
h3 {
  font-weight: 900;
  font-family: var(--secondaryfont);
  margin: 2.5rem;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
  display: block;
}
